[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
django-cors-headers = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"
pandas = "*"
django-url-filter = "*"

[dev-packages]
pycodestyle = "*"
django-extensions = "*"
pydotplus = "*"
autopep8 = "*"

[requires]
python_version = "*"
